body{
    margin: 0;
    padding: 0;
    width: 100%;
}
li{
    display: inline-block;
    float: right;
    justify-content: space-around;
    margin: 10PX;
    margin-right: 20px;
    cursor: pointer;
    padding: 15px;
    /* border: 1px solid red; */
}
li:hover{
    background-color: #BEBEBE;
}
ul{
    margin-right: 80px;
    margin: 0 auto;
    padding: 15px;
    position: fixed;
    color: #000;
    /* border: 1px solid red; */
    width: 99.5%;
    float: right;
    background-color: #fff;
    box-shadow: 5px;
    
}
.logo{
    width: 25px;
    margin-bottom: 0px;
}
.content{
    border: 0.5px solid black;
    height: 95vh;
    width: 100%;
    background-image: url("backcover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content_paragraph{
    font-size: 60px;
    margin-top: 120px;
    margin-left: 48px;
    color: #fff;
}
.content_paragraph2{
    margin-left: 48px;
    color: #fff;
}
.learn{
    margin-left: 48px;
    padding: 12px 24px;
    background-color: #dcdcdc;
    color: #000;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-bottom: 120px;
    width: 300px;
    font-size: arial;
}
button:hover{
    background-color: grey;
    outline: none;
}
.icons{
    cursor: pointer;
    border: px;
}
.about_company{
    margin-top: 20px;
    border: px solid black;
    width: 99.5%;
    height: 120vh;
}
.content_about_company{
    border: px solid black;
    width: 45%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}
.content_about_company_paragraph2{
    font-size: 18px;
}
.icons_item{
    border: px solid black;
    height: 38vh;
    margin-left: 20px;
    width: 30%;
    display: inline-block;
    
}
.desktop{
    justify-content: center;
    margin-left: 150px;
}
.desktop_paragraph{
    text-align: center;
}
.heart{
    border: px solid black;
    height: 38vh;
    margin-left: 20px;
    width: 30%;
    display: inline-block;
    padding-top: 150px;
}
.heart_icon{
    border: px solid black;
    width: 100px;
    margin-left: 150px;
    justify-content: center;
    margin-left: 150px;
}
.heart_icon_paragraph{
    text-align: center;
}

.settings{
    border: px solid black;
    height: 38vh;
    margin-left: 20px;
    width: 30%;
    display: inline-block;
    padding-top: 150px;
}
.settings_icon{
    border: px solid black;
    width: 100px;
    margin-left: 150px;
    justify-content: center;
    margin-left: 150px;
}
.settings_icon_paragraph{
    text-align: center;
}
.work_page{
    padding-top: 100px;
    border: px solid black;
    width: 60%;
    height: 60vh;
    background-color:  #F0F0F0;
    display: inline-block;
    margin-top: 10px;
    
    
}
.work_page_paragraph{
    border: px solid black;
    width: 40%;
    margin-left: 50px;
    font-size: 40px;
}
.work_page_paragraph2{
    border: px solid black;
    width: 65%;
    margin-left: 50px;
    
}
.mobile_screen_section{
    border: px solid black;
    width: 30%;
    height: 50vh;
    display: inline-block;
    background-color: grey;
    left: 0;
}
.image_phone{
    height: 100vh;
    width: 100%;
    border: px solid black;
    height: 350px;
    padding-top: 60px;
}
.the_team{
    border: px solid black;
    margin: 0  auto;
    text-align: center;
    margin-top: 60px;
}
.team_paragraph{
    font-size: 25px;
}
.user_section{
    border: px solid black;
    width: 20%;
    height: 62vh;
    display: inline-block;
    margin-left: 70px;
}
.user{
    width: 100%;
    height: 150px;
    filter: grayscale(8);
    
}
.user_section1{
    border: px solid black;
    width: 20%;
    height: 62vh;
    display: inline-block;
    margin-left: 20px;
}
.user_section2{
    border: px solid black;
    width: 20%;
    height: 62vh;
    display: inline-block;
    margin-left: 20px;
}
.user_section3{
    border: px solid black;
    width: 20%;
    height: 62vh;
    display: inline-block;
    margin-left: 20px;
}
.inbox_contact{
    width: 200px;
    margin-left: 30px;
    cursor: pointer;
}
.inbox_contact:hover{
    background-color: #BEBEBE;
}
.title{
    font-size: 24px;
}
.sub_title{
    color: #BEBEBE;
}
.italic{
    border: px solid black;
    width: 10%;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin-left: 160px;
}
.italic_container{
    border: px solid black;
    padding: 20px;
    margin-top: 100px;
    background-color: #616161;
}
.sub_number{
    font-size: 34px;
}
.images{
    margin-top: 90px;
    border: px solid black;
    
}
.camera{
    margin-left: 30px;
    cursor: pointer;
}
.drone{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.typewriter{
    margin-right: 10px;
    cursor: pointer;
}
.sound{
    cursor: pointer;
}
.pricing{
    border: 1px solid grey;
    height: 150vh;
    margin-top: 60px;
    margin-left: 90px;
    color: #343434;
    background-color: #616161;
}
.our_pricing{
    border: px solid grey;
    width: 30%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    color: #fff;
    text-align: center;
}
.basic{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
}
.Pro{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
}
.lists_of_basics{
    border: 1px solid grey;
    display: inline-block;
    width: 30%;
    background-color: #fff;
    margin-left: 50px;
}
.lists_of_pro{
    display: inline-block;
    width: 30%;
    background-color: #fff;
}
.premium{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
}
.lists_of_premium{
    border: 1px solid grey;
    display: inline-block;
    width: 30%;
    background-color: #fff;
}
.first_line_basic{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.basic_font{
    padding: 15px;
    width: 100%;
    text-align: center;
}
.sign_up{
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin: 10px;
}
.basic_sign{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
}
.first_line_pro{
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    background-color: red;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
}
.time{
    color: #616161;
}
.main_contact{
    border: 1px solid #f1f1f1;
    margin: 0  auto;
    text-align: center;
    margin-top: 60px;
    height: 100vh;
    background-color: #f1f1f1;
}
.contact{
    border: px solid black;
    margin: 0  auto;
    text-align: center;
    margin-top: 60px;
    height: 20vh;
    width: 30%;
    margin-bottom: 50px;
}
.address{
    float: left;
    display: inline-block;
    border: px solid black;
    width: 10%;
}
.chicago_text{
    float: left;
    display: inline-block;
    border: px solid black;
    
}
.mobile{
    border: px solid black;
    width: 10%;
    margin-top: 20px;
    display: inline-block;
    float: left;
}
.mob_numbers{
    margin-top: 20px;
    float: left;
    border: px solid black;
    width: 15%;
    display: inline-block;
    margin-left: 0;
}
.final_test{
    margin-top: 40px;
    border: px solid black;
    height: 10vh;
    width: 80%;
}
input{
    margin-top: 30px;
    float: left;
    width: 100%;
    padding: 10px;
}
.input{
    float: left;
    margin-top: 10px;
    padding: 10px;
    background-color: #000;
    color: white;
    cursor: pointer;
    width: 300px;
}
.map{
    filter: grayscale(5);
    width: 100%;
    margin-top: 30px; 
    height: 100vh;
}
.footer{
    margin-top: 100px;
    border: 1px solid black;
    width: 100%;
    height: 50vh;
    background-color: #000;
}
.foot{
    border: px solid #fff;
    padding: 20px;
    width: 10%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 45%;
    margin-top: 60px;
}
.make_a_border{
    border: px solid #fff;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;

}
.last{
    border: px solid #fff;
    color: #fff;
    text-align: center;
}